<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="search-heading">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href="#search-collapse" aria-expanded="true" aria-controls="search-collapse">
                Параметры поиска
            </a>
        </h4>
    </div>
    <div id="search-collapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="search-headin">
        <div class="panel-body">
            <div class="form-group" id="group-group">
                <label for="select-group">Группа:</label>
                <select class="form-control" id="select-group">

                </select>
            </div>
            <div class="form-group" id="stage-group">
                <label for="select-stage">Учебный период:</label>
                <select class="form-control" id="select-stage">

                </select>
            </div>

            <div class="form-group collapse" id="date-group">
                <label for="date">Учебный период:</label>
                <input type="date" class="form-control" id="date"/>
            </div>
        </div>
    </div>
</div>